* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color-blue: #0B7EB0;
  --base-color-dark-blue: #1790C3;
  --base-color-darkest-blue: #1380AF;
  --base-color-stat-card-blue: #108BC0;
  --base-color-stat-card-green: #10B981;
  --base-color-stat-card-red: #F97178;
  --base-color-stat-card-purple: #B57CDD;
  --bg-linear-gradient: linear-gradient(180deg, #108BC0 0%, #056F9C 100%);
  --font-arial: 'Arial', sans-serif;
}

body {
  /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; */
  font-family: var(--font-arial);
  background-color: #2c3845;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100vh;
}

/* Prevent layout shift on numbers */
.tabular-nums {
  font-variant-numeric: tabular-nums;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

input,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
} */